

 
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: #1E2024;

}


.online{
    position: relative;
  }
  
  .online span{
      position: absolute;
      bottom: 9%;
      right: 2%;
      padding: 4px;
      background-color: #119605;
      border: 1px solid white;
      border-radius: 50%;
  }
  

.upper{
    height: 80px;
    width: 100%;
  }

.nav-bar{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #2D2C36;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    z-index: 999;
}

.nav-bar i{
    color: white;
    font-size: 20;
}

.nav-bar .logo{

}

.nav-bar .search{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 4%;
  background-color: #1E2024;
  border-radius: 22px;

}

.nav-bar .search i{
    margin-left: 20px;
}


.nav-bar .search input{
    height: 35px;
  width: 200px;
  font-size: 16px;
  padding-left: 10px;
  background-color: #1E2024;
  border: none;
  outline: none;
  border-radius: 22px;
  color: white;
}

.nav-bar .tabs{
    display: flex;
    flex-direction: row;
    margin-left: 14%;

}

.nav-bar .tabs i{
    font-size: 20px;
    padding: 20px 20px;
}

.nav-bar .tabs i:hover {
    color: #FA8622;
    cursor: pointer;
    border-bottom: 1px solid #FA8622;
}

.nav-bar .options{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 19%;

}

.nav-bar .options .icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;

}

.nav-bar .options .icons div{
    margin-left: 10px;
    padding: 11px 12px;
    border-radius: 50%;
    background-color: #1E2024;
}

.nav-bar .options .icons i{
}


.nav-bar .options .profile{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-bar .options .profile p{
    color: white;
    margin: 0 10px;
}

.nav-bar .options .profile i{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.main-container{
    display: flex;
    flex-direction: row;
}


/* aside  */

.aside {
    width: 13%;
    background-color: #1E2024;
    position: absolute;
    left: 0;
    top: 10%;
    height: 100%;
    border-right: 1px solid #3C3C50;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease;
    color: white;
    /* display: none; */
}


.aside .nav {
    margin-top: 40px;
}

.aside .nav li {
    margin-bottom: 12px;
    display: block;
}

.aside .nav li a {
    font-size: 16px;
    display: block;
    padding: 5px 15px;
    color: white;
    text-decoration: none;
}

.aside .nav li a:hover {
    color: #FA8622;
}

.aside .nav li a i {
    margin-right: 15px;
}

/* main  */

.main-content{
    width: 81%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 15%;
    left: 13%;
    color: white;
    padding: 0 15px;
}

.main-content .hero{
    height: 440px;
    display: flex;
    flex-direction: column;
    position: relative;
    /* border: 1px solid red; */
}

.main-content .hero .bg-image{
    width: 1060px;
    margin-top: 18px;
    /* border: 1px solid red; */

}

.main-content .hero .bg-image img{
    width: 100%;
    border-radius: 20px;
}

.main-content .hero .profile-info{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    
}

.main-content .hero .profile-info .part1{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 5%;
}

.main-content .hero .profile-info .part1 img{
    width: 150px;
}

.main-content .hero .profile-info .part1 
.name{
    width: 500px;
    margin-left: 4%;
}
.main-content .hero .profile-info .part1 
.name p{
    margin-top: 5px;
    font-size: 12px;
}

.main-content .hero .profile-info .part2 
button{
    padding: 10px 30px;
    background-color: #FA8622;
    color: white;
    border-radius: 22px;
    border: none;
    margin-bottom: 15px;
}

.main-content  .section1{
    margin-top: 50px;
    padding: 0 15px;
}

.main-content  .section1 .list ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* list-style-type: none; */
    padding-bottom: -5px;
    border-bottom: 1px  solid #3C3C50;

}

.main-content  .section1 .list ul li{
    list-style-type: none;
    margin-right: 14px;
}

.main-content  .section1 .list ul > :first-child{
    color: #FA8622;
    padding: 5px;
    border-bottom: 1px  solid #FA8622;
}

.main-content  .section1 .list ul li:hover{
    color: #FA8622;
    border-bottom: 1px  solid #FA8622;
}



.main-content  .section1 .top-video{
    margin-top: 20px;
}

.main-content  .section1 .top-video h1{
    margin-bottom: 50px;
}

.main-content  .section1 .top-video  .video-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid red; */
}

.main-content  .section1 .top-video 
.video-details img{
    width: 500px;
}

.main-content  .section1 .top-video 
.video-details .content{
    margin-left: 50px;
}

.main-content  .section1 .top-video 
.video-details .content > :nth-child(2){
    margin-top: 10px;
    font-size: 12px;
}

.main-content  .section1 .top-video 
.video-details .content > :nth-child(2) span{
    padding: 4px 7px;
    border: 1px solid #3C3C50;
    color: #3C3C50;
    border-radius: 22px;
    margin-left: 10px;
}

.main-content  .section1 .top-video 
.video-details .content > :last-child{
    margin-top: 10px;
    text-align: justify;
    font-size: 13px;
}

.main-content  .section2{
    margin-top: 50px;
    padding: 0 15px;
}

.main-content  .section2 .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-content  .section2 .container .video-box{
    width: 24%;
    margin-bottom: 25px;
}

.main-content  .section2 .container .video-box img{
    width: 100%;
}

.main-content  .section2 .container .video-box .video-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}


.main-content  .section2 .container .video-box .video-info img{
    height: 35px;
    width: 35px;

}

.main-content  .section2 .container .video-box .video-info .info{
    display: flex;
    flex-direction: column;
    width: 180px;
    margin-left: 10px;
}

.main-content  .section2 .container .video-box .video-info .info h4{
  line-height: 1.3em;
  font-size: 13px;
  height: 1.3em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 3px;
}

.main-content  .section2 .container .video-box .video-info .info > :nth-child(2){
    display: flex;
    flex-direction: row;
}

.main-content  .section2 .container .video-box .video-info .info > :nth-child(2) p{
    font-size: 12px;
     margin-bottom: 2px;
  }

  .main-content  .section2 .container .video-box .video-info .info > :nth-child(2) img{
    width: 14px;
    height: 14px;
    margin-left: 7px;
  }


.main-content  .section2 .container .video-box .video-info .info > :last-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-content  .section2 .container .video-box .video-info .info > :last-child p{
    font-size: 11px;
    color: #CECECE;

}
/* aside right  */

.aside-right {
    width: 5%;
    background-color: #2D2C36;
    position: absolute;
    top: 15%;
    right: 1%;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    color: white;
    padding: 10px;
    border-radius: 20px;
    /* display: none; */
}

.aside-right .top{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #3C3C50;
}

.aside-right .top div{
    background-color: #FA8622;
    padding: 5px 5px;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.aside-right .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

.aside-right .bottom div{
    margin-top: 5px;
}

